[submodule "python-coding-challenge"]
	path = python-coding-challenge
	url = git@github.com:srth12/python-code-challenge-ebot.git
[submodule "java-rest-module"]
	path = java-rest-module
	url = https://github.com/spring-guides/gs-rest-service.git
